<html>

<body>

    <form action="/operation" method="POST">

        <select id="operation" name="operation">
            <option value="add">add</option>
            <option value="sub">substract</option>
            <option value="mul">multiply</option>
            <option value="div">divide</option>
        </select>

        <input type="text" name="num1" id="num1">
        <input type="text" name="num2" id="num2">
        <input type="submit" value="Calculate">

    </form>

</body>

</html>